{
  "extends": "airbnb",
  "plugins": [
    "react",
    "mocha"
  ],
  "env": {
    "mocha": true,
    "node": true
  },
  "rules": {
    "mocha/no-exclusive-tests": "error",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "ignore",
    }]
  }
}
